<%- include('../partials/html-head') %>
<link rel="stylesheet" href="stylesheets/tickets.css">
</head>
<body>

<main class="d-flex flex-column justify-content-center min-vh-100">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Ticket Number</h4>
      <h2><%= ticketNumber %> </h2>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Pre-Pay Amount</h4>
      <h2>$ <%= profile.currentBalance.amount %></h2>
    </div>
  </div>
  <form 
    action="/tickets",
    method="POST"
    class="d-flex justify-content-around w-50 mt-4"
  >
    <input hidden type="text" value="<%= ticketNumber %>" name="ticketNumber">
    <input type="number" step="any" name="amount" min="0.01" max="<%= profile.currentBalance.amount %>">
    <button class="btn btn-outline-light">Submit Ticket</button>
  </form>
    <a href="/tickets"><button class="btn btn-outline-light">Cancel</button></a>
</main>

<%- include('../partials/footer') %>
