<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../../stylesheets/new.css">
</head>
<body>

<main class="d-flex flex-column justify-content-center min-vh-100">
  <div class="index-card">
    <div class="index-card-body">
      <h4 class="index-card-title">Ticket Number</h4>
      <h2><%= ticketNumber %> </h2>
    </div>
  </div>
  <div class="index-card" id="pay-amount">
    <div class="index-card-body">
      <h4 class="index-card-title">Pre-Pay Amount</h4>
      <h2>$ <%= profile.currentBalance.amount %></h2>
    </div>
  </div>
  <div class="submit-section">
    <form 
      action="/tickets",
      method="POST"
      class="d-flex justify-content-around w-50 mt-4"
    >
      <input hidden type="text" value="<%= ticketNumber %>" name="ticketNumber">
      <input type="number" step="any" name="amount" min="0.01" max="<%= profile.currentBalance.amount %>" placeholder="39.95">
      <button class="btn btn-outline-light" id="submit">Submit Ticket</button>
    </form>
      <a href="/tickets"><button class="btn btn-outline-light" id="cancel">Cancel</button></a>
  </div>
</main>

<%- include('../partials/footer') %>
